@media (min-width: 640px) {}

@media (min-width: 768px) {
    .nav {
        padding: 16px 32px 16px 32px;
    }
}

@media (min-width: 1024px) {
    .nav-right .list-btn {
        display: flex;
        gap: 24px;
    }

    .nav {
        padding: 16px 32px 16px 32px;
    }
}

@media (min-width: 1280px) {
    .nav-left .logo span.text-logo {
        font-family: "Inter";
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
        text-align: left;
    }

    .nav-right .hamberger {
        display: none;
    }

    .nav {
        padding: 16px 32px 16px 32px;
    }

    .nav-right .list-item {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .hero-section .wrapper .box-text {
        align-items: flex-start;
    }

    .hero-section .wrapper .box-text p {
        text-align: left;
    }
}

@media (min-width: 1536px) {
    .nav-left .logo span.text-logo {
        font-family: "Inter";
        font-size: 28px;
        font-weight: 700;
        line-height: 33.89px;
        text-align: left;
    }

    .nav {
        padding: 16px 220px 16px 220px;
    }

    .nav-right .list-btn {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .hero-section .wrapper {
        flex-direction: row;
        padding: 140px 220px 140px 220px;
        gap: 0;
    }

    .hero-section .wrapper .box-text {
        align-items: flex-start;
    }

    .hero-section .wrapper .box-text p {
        text-align: left;
        font-family: "Inter";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.02em;
    }

    .hero-section .wrapper .box-text h2 {
        font-family: "Inter";
        font-size: 64px;
        font-weight: 700;
        line-height: 77.45px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .content {
        padding: 140px 220px 140px 220px;
    }

    .content .box {
        flex-direction: row;
    }

    .content .box:nth-child(2) {
        flex-direction: row-reverse;
        gap: 100px;
    }

    .content .box .box-text {
        align-items: flex-start;
    }

    .content .box .box-text h2 {
        font-family: "Inter";
        font-size: 72px;
        font-weight: 700;
        line-height: 87.14px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .content .box .box-text p {
        font-family: "Inter";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .plan-wrapper .plan-header h2 {
        font-family: "Inter";
        font-size: 72px;
        font-weight: 700;
        line-height: 87.14px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .plan-wrapper .plan-header p {
        font-family: "Inter";
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .plan-wrapper .plan-sidebar {
        display: none;
    }

    .content.flex-revert .box {
        flex-direction: row;
        gap: 0;
    }

    div:nth-child(2n of .content).list-logo .box {
        flex-direction: column;
    }

    .content.list-logo .box .box-logo {
        flex-direction: row;
    }

    .testimonial {
        padding: 140px 220px 140px 220px;
    }

    .testimonial .testimonial-sidebar {
        display: none;
    }

    .testimonial .testimonial-content,
    .testimonial {
        overflow: unset;
    }

    .testimonial .testimonial-content .box {
        /* width: 100%; */
        min-width: auto;
    }

    .testimonial .testimonial-content .box .name {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
    }

    .testimonial .testimonial-content .box .name .text {
        flex: 1;
    }

    .plan-wrapper {
        padding: 140px 220px 140px 220px;
        overflow: unset;
    }

    .plan-wrapper .plan-body {
        flex-direction: row;
        overflow: unset;
    }

    .plan-wrapper .plan-body .list-box {
        width: 100%;
        min-width: auto;
    }

    .tryfree {
        padding: 140px 220px 32px 220px;
    }

    .tryfree .content {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tryfree .content .box {
        /* flex-direction: ; */
        align-items: center;
        text-align: center;
    }

    .tryfree .content .box .box-text {
        align-items: center;
    }

    .tryfree .content .box .box-text h2 {
        font-size: 72px;
        font-weight: 700;
        line-height: 87.14px;
        letter-spacing: -0.02em;
        text-align: center;
    }

    .tryfree .content .box .box-text p {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: -0.02em;
        text-align: center;
        margin-top: 0;
    }

    .tryfree .content .box .box-text button {
        margin-top: 0;
    }

    .footer {
        padding: 140px 220px 32px 220px;
    }

    .footer .content .box {
        flex-direction: row;
        align-items: flex-start;
        gap: 100px;
    }

    .footer .content .box .box-item:first-child {
        align-items: flex-start;
    }

    .footer .content .box .box-item:first-child p {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.02em;
        text-align: left;
    }

    .footer .content .box .box-item ul li,
    .footer .content .box .box-item ul li:first-child {
        text-align: left;
    }

    .footer .content .box .box-item:last-child {
        align-items: flex-start;
    }

    .footer .content .box .box-item:last-child p:first-child,
    .footer .content .box .box-item:last-child p:nth-child(2) {
        text-align: left;
    }

    .footer .content .box:nth-child(2) {
        padding-top: 20px;
        border-top: 1px solid #2E4E73;
    }

    .footer .content .box:nth-child(2) .box-btn {
        flex-direction: row;
        border-bottom: 0;
        padding: 0;
    }
}